.header__logo {
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 908px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
    }
}